.difficulty-adjustment-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.difficulty-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 50.5px;
  .shared-block {
    color: var(--transparent-fg);
    font-size: 12px;
  }
  .item {
    padding: 0 5px;
    width: 100%;
    &:nth-child(1) {
      display: none;
      @media (min-width: 485px) {
        display: table-cell;
      }
      @media (min-width: 768px) {
        display: none;
      }
      @media (min-width: 992px) {
        display: table-cell;
      }
    }
  }
  .card-text {
    font-size: 18px;
    margin: auto;
    position: relative;
    margin-bottom: 0.2rem;
    &.bigger {
      font-size: 20px;
      margin-bottom: 0;
    }
  }
}

.difficulty-skeleton {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 50.5px;
  @media (min-width: 376px) {
    flex-direction: row;
  }
  .item {
    min-width: 120px;
    max-width: 150px;
    margin: 0;
    width: -webkit-fill-available;
    @media (min-width: 376px) {
      margin: 0 auto 0px;
    }
    &:first-child{
      display: none;
      @media (min-width: 485px) {
        display: block;
      }
      @media (min-width: 768px) {
        display: none;
      }
      @media (min-width: 992px) {
        display: block;
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  .card-text {
    .skeleton-loader {
      width: 100%;
      display: block;
      &:first-child {
        margin: 10px auto 4px;
        max-width: 80px;
      }
      &:last-child {
        margin: 10px auto 0;
        max-width: 120px;
      }
    }
  }
}

.card {
  background-color: var(--bg);
  height: 100%;
}

.card-title {
  color: var(--title-fg);
  font-size: 1rem;
}

.skeleton-loader {
  max-width: 100%;
}

.more-padding {
  padding: 18px;
}

.loading-container {
  min-height: 50.5px;
}

.main-title {
  position: relative;
  color: var(--fg);
  opacity: var(--opacity);
  margin-top: -13px;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  padding-bottom: 3px;
}

.card-wrapper {
  .card {
    height: auto !important;
  }
  .card-body {
    display: flex;
    flex: inherit;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
  }
}

.symbol {
  font-size: 13px;
  white-space: nowrap;
}

.halving-progress {
  position: relative;
  width: 100%;
  height: 22px;
  margin-bottom: 12px;
  .background, .remaining {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
  }
  .background {
    background: #2774ae;
    left: 0;
    right: 0;
  }
  .remaining {
    background: var(--secondary);
    right: 0;
  }
  .label {
    position: relative;
    margin: auto;
  }
}
